@model IEnumerable<THPTPhuBinh.Models.ChiTietPhieuMuon>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuMuon.MaNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sach.TenSach)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuMuon.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.TenSach)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaCT }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaCT }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaCT })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
