@model THPTPhuBinh.Models.PhieuMuon

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PhieuMuon</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NgayMuon)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayMuon)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgayTra)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayTra)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LuaChon1.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LuaChon1.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NhanVien.TaiKhoan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NhanVien.TaiKhoan)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheThuVien.MaDG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheThuVien.MaDG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TrangThai1.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TrangThai1.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaPM }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
