@model THPTPhuBinh.Models.DocGia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/assets/css/base.css">
    <link rel="stylesheet" href="~/assets/css/create.css">
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4 class="title">DocGia</h4>
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin-block-start: 4em;">
            @Html.LabelFor(model => model.Nguoi.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nguoi.HoTen, new { htmlAttributes = new { @class = "form-control input-box" } })
                @Html.ValidationMessageFor(model => model.Nguoi.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nguoi.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nguoi.NgaySinh, new { htmlAttributes = new { @class = "form-control input-box" } })
                @Html.ValidationMessageFor(model => model.Nguoi.NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nguoi.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nguoi.DiaChi, new { htmlAttributes = new { @class = "form-control input-box" } })
                @Html.ValidationMessageFor(model => model.Nguoi.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NgheNghiep, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgheNghiep, new { htmlAttributes = new { @class = "form-control input-box" } })
                @Html.ValidationMessageFor(model => model.NgheNghiep, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nguoi.Sdt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nguoi.Sdt, new { htmlAttributes = new { @class = "form-control input-box" } })
                @Html.ValidationMessageFor(model => model.Nguoi.Sdt, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TheThuVien.ThoiHan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TheThuVien.ThoiHan, new { htmlAttributes = new { @class = "form-control input-box" } })
                @Html.ValidationMessageFor(model => model.TheThuVien.ThoiHan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiDG, "LoaiDG", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LoaiDG", null, htmlAttributes: new { @class = "form-control input-box" })
                @Html.ValidationMessageFor(model => model.LoaiDG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"  style="margin-top: 0px; grid-template-columns: 50% 50%;justify-content: flex-start;">
                @Html.ActionLink("Back to List", "Index", new object {}, new { @class = "btn btn-default back-btn"})
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default submit-btn" />
                </div>
            </div>
        </div>
    }
</body>
</html>
