@model THPTPhuBinh.Models.DocGia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DocGia</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NgheNghiep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgheNghiep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoaiDG1.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoaiDG1.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheThuVien.MaDG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheThuVien.MaDG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nguoi.HoTen)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nguoi.HoTen)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaDG }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
